@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer;

<h1>Engineer Details</h1>
<hr />
<h2>@Html.DisplayFor(model => model.LastName), @Html.DisplayFor(model => model.FirstName)</h2>

@if(@Model.Machines.Count == 0)
{
  <p>There are no Machines listed</p>
}
else
{
  <h4>Machine(s) licensed to repair:</h4>
  <ul>
    @foreach (var join in Model.Machines)
    {
      <li>@join.Machine.MachineName</li>
      @using (@Html.BeginForm("DeleteMachine", "Engineers"))
      {
        @Html.Hidden("joinId", @join.EngineerMachineId)
        <input type="submit" value="Delete" class="btn btn-secondary"/>
      }
    }
  </ul>
}

<p>@Html.ActionLink("Add a Machine", "AddMachine", new { id = Model.EngineerId }, new { @class="btn btn-dark"})</p>
<p>@Html.ActionLink("Edit this engineer's details", "Edit", new { id = Model.EngineerId }, new { @class="btn btn-dark"})</p>
<p>@Html.ActionLink("Delete this engineer", "Delete", new { id = Model.EngineerId }, new { @class="btn btn-dark"})</p>